
<div class="mb-3 flex items-center justify-between rounded-md bg-sky-200 p-3">
    <div class="flex items-center gap-5">
        <input type="checkbox" checked />
        <p class="flex-1 text-sky-600">This is my first tasks.</p>
    </div>
    <div class="flex items-center">
        <i class="bi bi-trash3" style="color:rgb(14 165 233); opacity:1"></i>
    </div>
</div>


@code {
    public Todo todo = new Todo();

}
