
<header class="bg-sky-100 col-span-1 px-10 shadow-md">
    <div class="flex items-center h-full justify-between">
        <div class="flex gap-5 items-center">
            <div class="cursor-pointer" title="Todo App">
                <img class="h-8 w-12 object-cover" src="images/app-logo.png" alt="App Logo" />
            </div>
            <div class="hover:border-b-2 hover:border-sky-600">
                <a href="#" class="text-lg text-sky-500 hover:text-sky-600 font-medium">Home</a>
            </div>
        </div>
        <div class="flex gap-5 items-center">
            <div>
                <a href="#">About</a>
            </div>
            <div>
                <i class="bi bi-person-circle" style="font-size:2rem; color:rgb(14 165 233); opacity:1"></i>
            </div>
            
        </div>
    </div>
</header>

