
<header class="col-span-1 bg-sky-100 px-6 shadow-md sm:px-8 md:px-10">
    <div class="flex h-full items-center justify-between">
        <div class="flex items-center gap-6 sm:gap-8 md:gap-10">
            <div class="cursor-pointer" title="Todo App">
                <img class="h-8 w-12 object-cover" src="images/app-logo.png" alt="App Logo" />
            </div>
            <div class="hover:border-b-2 hover:border-sky-600">
                <a href="#" class="text-lg font-thin text-sky-500 hover:text-sky-600">Home</a>
            </div>
        </div>
        <div class="flex items-center gap-6 sm:gap-8 md:gap-10">
            <div class="hover:border-b-2 hover:border-sky-600">
                <a class="text-lg font-thin text-sky-500 hover:text-sky-600" href="#">About</a>
            </div>
            <div>
                <i class="bi bi-person-circle" style="font-size:2rem; color:rgb(14 165 233); opacity:1"></i>
            </div>
        </div>
    </div>
</header>

